@import "tailwindcss";
/* 
@theme {
  --color-dark-black: "#191423";
  --color-custom-green: "#6FFFA8";
  --color-custom-blue: "#6621E9";
  --color-custom-pink: "#FFABC7";
  --color-custom-skyblue: "#026070";
  --text-26: "26px";
  --leading-130: "130%";
  --leading-150: "150%";
} */

@font-face {
  font-family: "avantt";
  src: url("/assets/fonts/AvanttTRIAL-Regular-BF6721a86b1a848.otf");
  font-weight: 400;
}

@font-face {
  font-family: "avantt";
  src: url("/assets/fonts/AvanttTRIAL-SemiBold-BF6721a86b1576e.otf");
  font-weight: 600;
}

body {
  font-family: "avantt", sans-serif;
}
::-webkit-scrollbar {
  width: 0;
}
